<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.myzyd.freeride">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
     
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- 高德API -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="59426176b4c98cd1b201fd0c7005fd21" />

        <activity
            android:name=".Welcome"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".logActivity.LogInActivity"/>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".logActivity.LogonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forthActivity.PersonDetailsAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forthActivity.MyLocationAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forthActivity.MyAccountAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forthActivity.SuggestAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forthActivity.UpdateAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forthActivity.AboutUsAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forthActivity.MyOrderAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forthActivity.MyOrderAct1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forthActivity.MyOrderAct2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forthActivity.MyOrderAct3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forthActivity.MyOrderAct4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forthActivity.ShareAct"
            android:screenOrientation="portrait" />

        <activity android:name=".forthActivity.MyAccountAddAct"/>
        <activity android:name=".forthActivity.MyAccountChangeAct"/>
        <activity android:name=".thirdActivity.Pay"/>
        <activity android:name=".thirdActivity.PayConfirm"/>
        <activity android:name=".forthActivity.SaleSupportAct"/>
    </application>

</manifest>
